.image-container_available {
  position: relative;
}
.Bg_background_img_available {
  background-image: url(/src/assets/Images/HandPic_overlay.png);
  background-repeat: no-repeat;
  background-size: 103% 100%;
  height: 21rem;
  background-position-x: center;
}
.overlay_profile_available_img {
  position: absolute;
  top: 120px;
  left: 80px;
  width: 10%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.overlay_profile_available_img img {
  width: 170px;
}

.overlay_profile_available_content {
  position: absolute;
  top: 90px;
  left: 252px;
  width: 65vw;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: #fff;
}
.cgname {
  font-family: "poppins", sans-serif;
  font-size: 46px;
  font-weight: 900;
  margin-right: 28px;
}
.Age_gender {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-self: center;
}
.available_cgDetails1_flex_container {
  display: flex;
}
.available_cgDetails2_flex_container {
  display: flex;
  align-items: center;
}
.status_availibily {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
