.image-container_available {
  position: relative;
}
.Bg_background_img_available {
  background-image: url(/src/assets/Images/HandPic_overlay.png);
  background-repeat: no-repeat;
  background-size: 103% 100%;
  height: 21rem;
  background-position-x: center;
}
.overlay_profile_available_img {
  position: absolute;
  top: 120px;
  left: 80px;
  width: 10%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.overlay_profile_available_img img {
  width: 170px;
}

.overlay_profile_available_content {
  position: absolute;
  top: 90px;
  left: 252px;
  width: 65vw;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: #fff;
}
.cgname {
  font-family: "poppins", sans-serif;
  font-size: 46px;
  font-weight: 900;
  margin-right: 28px;
}
.Age_gender {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-self: center;
}
.available_cgDetails1_flex_container {
  display: flex;
}
.available_cgDetails2_flex_container {
  display: flex;
  align-items: center;
}
.status_availibily {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.status_availibily span i {
  color: #02bf2e;
  font-size: 10px;
}
.status_availibilty {
  position: absolute;
  top: 10px;
  left: -69px;
  width: 1vw;
  height: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.status_availibilty span i {
  color: #02bf2e;
  font-size: 16px;
}
.Highlight_condtion_handled_container {
  margin-top: 8rem;
  max-width: 75%;
}
.Available_List_conainer {
  display: flex;
}
.Highlight_text,
.Conditions_handled_text {
  font-family: "poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
}
.Highlight_container ul li {
  font-family: "poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  color: #1d2150;
}
.Available_CardBtn_style_hire {
  background-color: #2ead56 !important;
  color: #ffff !important;
  font-size: 1.5rem !important;
  font-family: "poppins", sans-serif !important;
  border: none !important;
  font-weight: 700 !important;
}
.Available_CardBtn_style_hire:hover {
  color: #ffff !important;
}
.Available_CardBtn_style_hire:first-child:active {
  color: #ffff !important;
}
.Available_CardBtn_style_hire_schedule {
  background-color: #feab0c !important;
  color: #ffff !important;
  font-size: 1.5rem !important;
  font-family: "poppins", sans-serif !important;
  border: none !important;
  font-weight: 700 !important;
}
.Available_CardBtn_style_hire_schedule:hover {
  color: #ffff !important;
}
.Available_CardBtn_style_hire_schedule:first-child:active {
  color: #ffff !important;
}
.Highlight_line hr {
  border: none !important;
  border-bottom: 2px solid #feab0c !important;
  opacity: 1 !important;
  width: 10rem;
  margin-top: 0px;
}
