@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

.Main_container {
  max-width: 88%;
  margin: 0 auto 0 auto;
  /* background-color: red; */
}
.Flex_container {
  display: flex;
  justify-content: space-evenly;
}
.CardsLeft_content {
  font-family: "poppins", sans-serif;
  font-weight: 800;
  font-size: 4.3vw;
  color: #1d2150;
  line-height: 6rem;
}
.CardStyle {
  width: 25.5rem !important;
  border-radius: 2.5rem !important;
  background-color: white !important;
  padding: 3.5rem 3.5rem 0px 3.5rem !important;
  text-align: center !important;
  border: none !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.CardStyle:hover {
  background-color: #1d2150 !important;
  transition: 3s ease;
}

.CardStyle:hover .card-text {
  color: white !important;
}
.CardStyle:hover .CardBtn_style {
  border: 1px solid #feab0c !important;
}
.card-title {
  color: #feab0c !important;
  font-size: 2.6rem !important;
  font-family: "poppins", sans-serif !important;
  font-weight: 700 !important;
}
.card-text {
  font-family: "poppins", sans-serif !important;
  color: black !important;
  font-size: 1.2rem !important;
}
.CardBtn_style {
  background-color: #1d2150 !important;
  color: #feab0c !important;
  font-size: 1.8rem !important;
  font-family: "poppinse", sans-serif !important;
  border: none !important;
  font-weight: 700 !important;
}
.XS_Block {
  display: none !important;
}
.SM_Block {
  display: none;
}

/* Media Queries start */

@media screen and (min-width: 300px) and (max-width: 705px) {
  .CardStyle {
    width: 58rem !important;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem !important;
  }
  .Destop_responsive {
    width: 100% !important;
  }

  .Flex_container {
    display: flex !important;
    justify-content: center !important;
  }
  .Mobile_responsive {
    width: 100% !important;
    justify-content: center !important;
  }
  .card-text {
    text-align: justify !important;
    letter-spacing: -0.8px;
    font-size: 1.4rem !important;
    word-spacing: -1px;
  }
  .Img_container {
    display: flex;
    align-items: center;
    margin-right: 10px !important;
    width: 400px;
    border-radius: 100%;
  }
  .Btn_icons_Flex_container {
    display: flex;
    justify-content: left;
  }
  .card-title {
    text-align: left;
    font-size: 4vw !important;
  }
  .CardBtn_style {
    font-size: 1rem !important;
    margin-right: 10px;
  }

  .XS_Block {
    display: none !important;
  }
  .Mobile_Cards_Flex_container{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 300px) and (max-width: 540px) {
  .CardsLeft_content{
    font-size: 9vw;
  } 
}


@media screen and (min-width: 300px) and (max-width: 411px) {
  .card-text {
    font-size: 1.3rem !important;
  }
}
@media screen and (min-width: 300px) and (max-width: 387px) {
  .card-text {
    font-size: 1.1rem !important;
  }
}


@media screen and (min-width: 300px) and (max-width: 705px) {
  .SM_Block {
    display: none !important;
  }
  .XS_Block {
    display: block !important;
  }
  .CardStyle {
    padding: 1.5rem 1.5rem 1rem 1.5rem !important;
    width: 43.5rem !important;
  }
}


@media screen and (min-width: 992px) and (max-width: 1135px) {
  .CardStyle {
    padding: 1.5rem 1.5rem 0px 1.5rem !important;
  }
}
@media screen and (min-width: 705px) and (max-width: 992px) {
  .CardStyle {
    padding: 1.5rem 1.5rem 0px 1.5rem !important;
  }
}
