.image-container1 {
  position: relative;
}

.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.overlay1 h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.overlay1 p {
  font-size: 1.2rem;
  text-align: center;
  max-width: 80%;
}
.image-container1 img {
  max-width: 100%;
}
.HowItWorks_heading_Review {
  font-family: "poppins", sans-serif;
  font-weight: 900;
  font-size: 3.2rem;
  color: white;
}
.line_left_Review {
  display: flex;
  align-items: center;
}
.Review_StarIcon span {
  padding-right: 1rem;
}
.Review_StarIcon span i {
  font-size: 2rem;
}
.Review_feedback {
  max-width: 60rem;
}
hr {
  border: none !important;
  border-bottom: 5px solid #feab0c !important;
  opacity: 1 !important;
  width: 10rem;
}
.line_left {
  display: flex;
  align-items: center;
}

/* Media Queries start  */

@media screen and (min-width: 300px) and (max-width: 550px) {
  .line_left_Review {
    width: 10vw;
  }
  .HowItWorks_heading_Review {
    font-size: 7.3vw;
  }
}

@media screen and (min-width: 300px) and (max-width: 728px) {
  .image-container1 {
    height: 60vh;
  }
  .image-container1 img {
    height: 100%;
  }
  .overlay1 {
    height: 100%;
  }
}

@media screen and (min-width: 300px) and (max-width: 550px) {
  .line_left {
    width: 15vw;
  }
}

@media screen and (min-width: 300px) and (max-width: 310px) {
  .image-container1 {
    height: 70vh;
  }
}

/* Media Queries end  */
