html {
  font-size: 62.5%;
}
.text_lines_container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.HowItWorks_heading {
  font-family: "poppins", sans-serif;
  font-weight: 900;
  font-size: 3.2rem;
  color: #1d2150;
}
hr {
  border: none !important;
  border-bottom: 5px solid #feab0c !important;
  opacity: 1 !important;
  width: 10rem;
}
.line_left {
  display: flex;
  align-items: center;
}
.content_left_right_container {
  width: 20%;
}
.content_left_right_container1 {
  width: 28%;
}
.HowItworks_content_container {
  display: flex;
  justify-content: space-around;
}
.bottom_line hr {
  border: none !important;
  border-bottom: 2px solid #feab0c !important;
  opacity: 1 !important;
  width: 100%;
}
.bottom_line {
  padding-left: 11.2vw !important;
}
.Combine_center {
  display: flex;
  justify-content: space-evenly;
}
.HowItworks_content_container1 {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.Step_font {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #1d2150;
}

.Step_font_SM {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #1d2150;
}
.Mobile_SM_container {
  display: none;
}

/* Media Queries start  */

@media screen and (min-width: 300px) and (max-width: 705px) {
  .Mobile_SM_container {
    display: block;
  }
}
@media screen and (max-width: 705px) {
  .MD_show {
    display: none !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 550px) {
  .line_left {
    width: 15vw;
  }
  .HowItWorks_heading {
    font-size: 6.8vw;
  }
}

/* Media Queries end  */
