html {
  font-size: 62.5%;
}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d2150;
  line-height: 50px;
}
.overlay2 {
  position: absolute;
  top: -8px;
  left: -37px;
  width: 75%;
  height: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.overlay2 div {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 27px;
  color: white;
}

.overlay div:nth-child(1) {
  font-family: "poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.overlay div:nth-child(2) {
  font-family: "poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.overlay h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.overlay p {
  font-size: 1.2rem;
  text-align: center;
  max-width: 80%;
}
.OfferCard_container {
  max-width: 271px;
}

/* For Basic offer cards */
.overlay3_Basic {
  position: absolute;
  top: 144px;
  left: -6px;
  width: 54%;
  height: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d2150;
}
.overlay3_Basic div {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
}
.overlay4_Basic {
  position: absolute;
  top: 144px;
  left: 123px;
  width: 54%;
  height: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d2150;
}
.overlay4_Basic div {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 29px;
  color: white;
}
.overlay5_Basic {
  position: absolute;
  top: 228px;
  left: 47px;
  width: 60%;
  height: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d2150;
}
/* For standard offer cards */
.overlay2_Standard {
  position: absolute;
  top: -10px;
  left: -32px;
  width: 75%;
  height: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.overlay2_Standard div {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: white;
}

.overlay3_Standard {
  position: absolute;
  top: 144px;
  left: -6px;
  width: 54%;
  height: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d2150;
}
.overlay3_Standard div {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
}
.overlay4_Standard {
  position: absolute;
  top: 144px;
  left: 123px;
  width: 54%;
  height: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d2150;
}
.overlay4_Standard div {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 29px;
  color: white;
}
.overlay5_Standard {
  position: absolute;
  top: 228px;
  left: 47px;
  width: 60%;
  height: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d2150;
}

/* For Premium offer cards */
.overlay2_Premium {
  position: absolute;
  top: -10px;
  left: -32px;
  width: 75%;
  height: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.overlay2_Premium div {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: white;
}
.overlay3_Premium {
  position: absolute;
  top: 144px;
  left: -6px;
  width: 54%;
  height: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d2150;
}
.overlay3_Premium div {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
}
.overlay4_Premium {
  position: absolute;
  top: 144px;
  left: 123px;
  width: 54%;
  height: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d2150;
}
.overlay4_Premium div {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 29px;
  color: white;
}
.overlay5_Premium {
  position: absolute;
  top: 228px;
  left: 47px;
  width: 60%;
  height: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d2150;
}

/* For Supreme offer cards */
.overlay2_Supreme {
  position: absolute;
  top: -10px;
  left: -32px;
  width: 75%;
  height: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.overlay2_Supreme div {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: white;
}
.overlay3_Premium {
  position: absolute;
  top: 144px;
  left: -6px;
  width: 54%;
  height: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d2150;
}
.overlay3_Premium div {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
}
.overlay4_Premium {
  position: absolute;
  top: 144px;
  left: 123px;
  width: 54%;
  height: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d2150;
}
.overlay4_Premium div {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 29px;
  color: white;
}
.overlay5_Premium {
  position: absolute;
  top: 228px;
  left: 47px;
  width: 60%;
  height: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d2150;
}
